doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Event Creator
	script.
		function publishAndConfirm() {
			const name = document.getElementById('name').value.trim();
			const locat     = document.getElementById('location').value.trim();
			const dateTime  = document.getElementById('dateTime').value.trim();
			if (!(name && locat && dateTime)) {
				alert('Please fill in all required fields: Event Name, Moderator, Location, and Date and Time.');
			} else {
				// INSERT into 'EVENT' from the database 'Volunteer'
				window.location.href = 'eventConfirm.html';
			}
		}
	header
		div.navbar
			span Volunteer Central
			nav
				ul
				li: a(href='homepage.html') Home
					li: a(href='login.html') Login
	body
		div.form-group
			form(action='/publish', method='POST', enctype='application/x-www-form-urlencoded')
				h2 Event Creator 
				p Moderating as #[strong #{username}] #[small #[i (ID: #{u_id})]]

				div 
					// Event Name
					label(for='name') Event Name 
					input#name(type='text',name='name', placeholder='New Event',required)
				div 
					// Location
					label(for='location') Location 
					select#loctype(name="loctype")
						option(value="address") Address
						option(value="coords") Coordinates 
					script.
						document.addEventListener('DOMContentLoaded', function() {
							const loctype = document.getElementById('loctype');
							const locationInput = document.getElementById('location');

							loctype.addEventListener('change', function() {
								if (loctype.value === 'address') {
									locationInput.placeholder = 'Address';
								} else if (loctype.value === 'coords') {
									locationInput.placeholder = '0.00000, 0.00000 for approx. 1m precision';
								}
							});
						});
					br
					input#location(type="text",name='location', placeholder='Address',required)
				div 
					// Description
					label(for="description") Description
					input#description(type="text",name='description', placeholder='Optional but recommended.')
				div
					// Priority
					label(for="priority") Priority
					select#priority(name="priority")
						option(value="1") 1 - Low
						option(value="2") 2
						option(value="3") 3 - Medium
						option(value="4") 4
						option(value="5") 5 - High
				div 
					// Date and Time
					label(for="dateTime") Date and Time 
					input#dateTime(type="datetime-local",name='dateTime', required)
				div.publish-buttons
					button(type='submit') Publish Event
