doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Event Creator
	header
		div.navbar
			span Volunteer Central
			nav
				ul
				li: a(href='../homepage.html') Home
					li: a(href='../login.html') Login
	body