doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
	link(href='styles.css', rel='stylesheet', type='text/css')
	meta(charset='UTF-8')
	title VC | Homepage
header
	div.navbar
		span Volunteer Central
		nav
			ul
				li: a(href='homepage.html') Home
				li: a(href='eventMatcher') View Events
				if isAdmin
					li: a(href='eventCreator') Create Event
				if isLogged
					li: a(href='userProfile') Complete Profile
					li: a(href='/logout') Log Out
				else 
					li: a(href='login.html') Login
body
	div.fullscreencontainer
		img(src='VolunteerPicture.jpeg', alt='Volunteer Group')
		div.imgcentered-text The Power of Community - We connect individuals, groups, and companies to transform the University of Houston community for good through volunteerism.
	div.aboutus
		h2 ABOUT US
		h3 Mission
		p
			| At volunteer central, we foster a community of service, leadership, 
			| and community where event planners and volunteers can connect.
		hr.aboutusline
		h3 What we do
		p
			| We provide a digital hub where organizers can post events
			| with skill requirements and volunteers can browse and sign up
			| for events they are suited for. By streamlining the process, we help
			| the community mobilize support while volunteers give back.
		hr.aboutusline
		h3 Contact Us
		p 
			| Phone Number: (999) 999 - 9999
			br
			| Email Address: xxxx@example.com
			br
			| Location: 321 ABC Street, City, State, 00000
