doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Send Notification
	header
		div.navbar
			span Volunteer Central
			nav
				ul
					li: a(href='homepage.html') Home
					li: a(href='login.html') Login
	body
		div.form-group
			form(action='/publishNotification', method='POST', enctype='application/x-www-form-urlencoded')
				h2 Notification Creator 
				p Moderating as #[strong #{username}] #[small #[i (ID: #{u_id})]]

				div 
					label(for='name') Event Name 
					input#name(type='text',name='name', placeholder='Existing Event',required)
				div
					label(for='message') Message
					input#message(type="text",name='message', placeholder='Type your message here',required)
				div.publish-buttons
					button(type='submit') Send Notification